@charset "UTF-8";
.tn-body {
	text-align: center;
	margin: 0;
	padding: 0;
	background: none;
}

@media (min-width: 1100px){/*宽度大于1100px*/
	.tn-wrap {
		width: 1100px;
	}
	
	.mod-search-input-wr {
	    width: 386px;
	}
	
}

@media (max-width: 1100px){/*宽度小于1100px*/
	.tn-wrap {
		width: 100%;
	}
	
	.mod-search-input-wr {
	    max-width: 50%;
	}
}

@media (min-width: 753px){/*宽度大于650px*/
	.tn-input {
		/* width: 470px; */
	}
}

@media (max-width: 753px){/*宽度小于650px*/
	.tn-title .word_img{
		display: none;
	}
}

.tn-wrap {
	margin: 0 auto;
	height: 85px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.tn-title {
	height: 85px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.tn-title .icon_img {
	background: url(../resources/images/show/logo_icon.png) no-repeat;
	width: 55px;
	height: 55px;
	background-size: 55px 55px;
	margin-left: 5px;
}

.tn-input {
	flex-shrink: 2;/*无空间则压缩我的空间*/
	flex-grow: 2;/*有空间则增加我的空间*/
	height: 44px;
	min-width: 215px;
	max-width: 470px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.tn-input input {
	/* width: 376px; */
	/* height: 20px;
	line-height: 20px; */
	
}

.tn-wrap .user {
	
}

.tn-wrap .user button {
	color: #f8914d;
}

.mod-search-label {
    left: 8px;
    line-height: 42px;
    color: rgb(153, 153, 153);
    font-family: 宋体;
    font-size: 12px;
    z-index: 10;
	position: absolute;
}



.mod-search-input-wr {
    position: relative;
	flex: 1;
    /* width: 386px; */
    height: 42px;
    border: 1px solid #dcd8d4;
    border-right: none;
    background-color: #fff;
    box-sizing: border-box;
}


.ui-left {
    float: left;
}

.mod-search-input {
    z-index: 12;
	width: 100%;
    /* width: 376px; */
    height: 40px;
    line-height: 40px;
    /* padding: 11px 5px; */
	/* margin: 6px 0px 6px 0px; */
	padding-left: 5px;
    background: none;
    border: none;
    font-size: 14px;
	position: absolute;
	left: 0;
	box-sizing: border-box;
}

.ac_results {
    padding: 0px;
    margin-top: -1px;
    background-color: white;
    overflow: auto;
    z-index: 1000;
    border: 1px solid #c2c2c2;
	border-top: 0px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    position: absolute;
    /* width: 384px; */
	width: 100%;
	text-align: left;
	position: absolute;
	top: 44px;
	color: black;
	max-height: 200px;
	display: none;
}

.ac_results li {
  /*   height: 30px;
    line-height: 30px;
    padding: 5px 0 6px 13px; */
    zoom: 1;
    border-top: 1px solid #f2f2f2;
    position: relative;
    display: block;
}

.ac_results li a {
	color: black;
	/* padding: 5px 0 6px 13px; */
	height: 30px;
    line-height: 30px;
    padding: 0px 5px;
}

.mod-search-submit {
    width: 74px;
    height: 42px;
    border: 0;
    border-radius: 0 2px 2px 0;
	background-color: #999999;
    /* background-image: url(../images/ac_global.png); */
    background-repeat: no-repeat;
    cursor: pointer;
}

/* .dreamChatButton{
	border: 0;
	height: 42px;
	margin-left: 50px;
	
	color: #f8914d;
	cursor: pointer;
	background-color: transparent;
	font-size: 18px;
} */

.user .logined {
	position: relative;
	margin-right: 29px;
}
.user .head_img {
	border-radius: 20px;
}
.showSelectedList {
	position: absolute;
	right: -24px;
	width: 100px;
	top: 40px;
	z-index: 10000;
}

.slcontent {
	margin-top: 8px;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	border-radius: 2px;
}

.showSelectedList ul {
	padding: 10px 5px;
}

.showSelectedList ul li {
	text-align: center;
	border-bottom: 1px dotted white;
}

.showSelectedList ul li a {
	padding: 5px 10px;
	color: white;
	display: block;
}

.showSelectedList ul li a:hover {
	color: #f8914d;
}