body {
	margin: 0;
}

@media (min-width: 1100px){/*宽度大于1100px*/
	.wd-main {
		width: 1100px;
	}
	
	.works-chapter-item {
		width: 25%;
	}
	.works-chapter-list li p {
		height: 50px;
		padding-left: 28px;
	}
	
}

@media (max-width: 1100px){/*宽度小于1100px*/
	.wd-main {
		width: 100%;
	}
	
	.works-chapter-item {
		width: 100%;
		padding-left: 28px;
		padding-bottom: 20px;
		background: url(../resources/images/show/Nav/page_works_chapter_bg.png) 0 bottom no-repeat;
	}
}

.wd-main {
	margin: 0 auto;
}


.wd-catalogue-list {
	margin-top: 15px;
	margin-bottom: 100px;
	width: 100%;
	/* height: 254px; */
	border: 1px solid #cec7bd;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wd-catalogue-list-nav {
	height: 52px;
	border-bottom: 1px solid #dbd9d6;
}

.wcl-nav-t {
	/*章节列表nav*/
	width: 147px;
	height: 49px;
	border-bottom: 4px solid #ff9a6a;

	line-height: 53px;
	color: #555;
	font-size: 24px;
	text-align: center;
	padding: 0 25px;
	position: relative;
	display: block;
	border-right: 1px solid #dbd9d6;
}

.works-chapter-list-wr {
	/*具体章节列表*/
	width: 100%;
	/* height: 254px; */
	overflow: hidden;
	clear: both;
}

ol {
	display: block;
	list-style-type: decimal;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

.works-chapter-list {
	/* height: 250px; */
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
	padding-bottom: 40px;
}

.works-chapter-list li p {
	width: 100%;
	/* height: 50px; */
	
	background: url(../resources/images/show/Nav/page_works_chapter_bg.png) 0 bottom no-repeat;
}

.works-chapter-item {
	float: left;
	/* width: 25%; */
	/* width: 294px; */
	padding-top: 20px;
	overflow: hidden;
}

.works-chapter-item a {
	margin-right: 5px;
	font-size: 14px;
	color: #333;
	float: left;
	text-decoration: none;
	cursor: pointer;
}
